
.bx--structured-list.apidoc {

  .bx--structured-list-row.bx--structured-list-row--header-row {
    border: none;
  }

  .bx--structured-list-th {
    background-color: $field-01;
    padding-bottom: $spacing-05;
  }

  .bx--structured-list-td {
    color: $text-01;
    line-height: 1.125rem;
    padding: $spacing-05;
  }
}